<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0f7b743a-752b-4b4a-bb31-d6e0e124ae36/resourceGroups/IPG521_SA_db/providers/Microsoft.Web/sites/IPG521SA20210628152633</ResourceId>
    <ResourceGroup>IPG521_SA_db</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ipg521sa20210628152633.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ipg521sa20210628152633.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>IPG521SA20210628152633</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$IPG521SA20210628152633</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PaperConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\Devon\Documents\CTU assesments\MCSD\IPG521\IPG521_SA_Nuut\IPG521_SA\App_Data\PaperConnection.mdf&quot;;Integrated Security=True;Connect Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="IPG521_SA.Data.PapersDbContext, IPG521_SA" MigrationConfiguration="IPG521_SA.Migrations.Configuration, IPG521_SA" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="True">
          <Destination Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\Devon\Documents\CTU assesments\MCSD\IPG521\IPG521_SA_Nuut\IPG521_SA\App_Data\aspnet-IPG521_SA-20210628125906.mdf&quot;;Integrated Security=True;Connect Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="IPG521_SA.Models.ApplicationDbContext, IPG521_SA" MigrationConfiguration="IPG521_SA.Migrations.Configuration_Identity, IPG521_SA" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="C:\Users\Devon\Documents\CTU assesments\MCSD\IPG521\IPG521_SA_Nuut\IPG521_SA\App_Data\aspnet-IPG521_SA-20210628125906.mdf";Integrated Security=True;Connect Timeout=30</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="PaperConnection-Web.config Connection String">
      <ParameterValue>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="C:\Users\Devon\Documents\CTU assesments\MCSD\IPG521\IPG521_SA_Nuut\IPG521_SA\App_Data\PaperConnection.mdf";Integrated Security=True;Connect Timeout=30</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="PaperConnection" />
  </ItemGroup>
</Project>